
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: '#f7f7f7'
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Rubik Wet Paint'; */
  font-weight: 500;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-only[class] {
  display: none;
}

@media (max-width: 768px) {
  .mobile-only[class] {
    display: block;
  }
  .mobile-not[class] {
    display: none !important;
  }
}