
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: '#f7f7f7'
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Rubik Wet Paint'; */
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background: #FAFAFA;

}

input {
  outline: none;
  width: 100%;
}

button {
  outline: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.flex-start[class] {
  display: flex;
  align-items: flex-start;
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-column{
  display: flex;
  flex-direction: column;
  grid-gap: 8px;
}

.mobile-only[class] {
  display: none;
}

.v-container{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

@media (max-width: 768px) {
  .mobile-only[class] {
    display: block;
  }
  .mobile-not[class] {
    display: none !important;
  }
}